[Unit]
Description=Athena GeoCodeService Service
After=network.target

[Service]
ExecStartPre=/bin/sleep 5
Type=simple
EnvironmentFile=/opt/athena/env/athena.env
ExecStart=/opt/athena/run/geocodeservice.sh
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
